:root {

    --branco: #FFF;
    --titulo:#4f4a49;
    --sombra:#e1e0d9;
    --background: #f5e6f5;
    --cardapio:#959d7b93;
    --botao:#3d3636;
    --botao-op:#3d363655;


    --pacifico: 'Pacifico', cursive;
    --roboto: 'Roboto', sans-serif;
}
